@import '../../styles/tools/variables.scss';
@import '../../styles/tools/breakpoints.scss';
@import '../../styles/tools/mixins.scss';

.hacker-news-stories {
    &-title {
        @include font-family-lato;
        text-align: center;
        color: $white-color;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 24px;

        @include for-tablet-portrait-up {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }

        &-item {
            justify-self: center;
        }
    }
}