$white-color: #ffff;

$primary-color-300: #19f6e8;

$dark-color-800: #040404;

$grey-color-400: #6b6b83;
$grey-color-700: #2c3e50;

$primary-linear-gradient: linear-gradient($grey-color-400, $grey-color-700);