@import '../../styles/tools/variables.scss';

.global-loading-indicator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .animated-pulse-icon {
        margin-bottom: 55px;
    }

    .animated-button {
        margin-top: 55px;
    }

    .animated-progress-bar {
        width: 50%;
    }
}
